html {height: 100%;}
body {font-family: 'Roboto', sans-serif; margin: 0; height: 100%;}
#wrapper {display: grid; grid-template-rows: auto 1fr auto; height: 100%; color: #c8c8c8; text-transform: uppercase;}
main {display: grid; grid-template-rows: 39px 1fr 55px 1fr; height: 100%;}
.inner {max-width: 1200px; width: 98%; margin: 0 auto; height: 100%;}
.flex_row {height: 100%; display: flex; flex-direction: row; align-items: center; justify-content: space-between; flex-wrap: nowrap;}
h1, h2, h3, h4, h5, h6 {text-transform: uppercase; margin: 0;}
ul {list-style: none; padding: 0; margin: 0;}
a {color: #c8c8c8;}
a, a:hover {text-decoration: none;}
.db {display: block;}
h1 {font-size: 40px; line-height: 44px; font-family: 'Anton', sans-serif; letter-spacing: 1px;}


.preview__btn_white{display: inline-block; color:#fff; background: transparent; border-radius: 3px; font-size: 18px; line-height: 22px; color: #fff; padding: 7px 10px; border: 1.5px solid #fff;}
.categories__btn_green {display: inline-block; color: #fff; background-color: #3bc395; border-radius: 3px; font-size: 18px; line-height: 22px; padding: 4px 10px; border: 1.5px solid #3bc395; text-transform: uppercase;}
.featured-products__btn_green {display: inline-block; color: #fff; background-color: #3bc395; border-radius: 3px; font-size: 18px; line-height: 22px; padding: 4px 10px; border: 1.5px solid #3bc395;}

header {background-color: #fff; padding: 20px 0;}
.header__logo {font-family: 'Anton', sans-serif; font-size: 24px; line-height: 27px; color: #3ac1b4;}
.emp_order_online {font-size: 12px;line-height: 15px;color: #1d3b54;font-weight: 900;letter-spacing: 0.065em;text-decoration: none; display: flex; align-items: center;}
.emp_order_online .image_block {width: 42px;height: 42px;left: 0;}
.emp_order_online img {width: 100%; position: relative;}
.emp_order_online .img {display: block;}
.emp_order_online .img_hover {display: none;}
.emp_order_online:hover .img {display: none;}
.emp_order_online:hover .img_hover {display: block;}

nav {background-color: #4ccfc1; padding: 10px 0; position: relative; z-index: 1; -webkit-box-shadow: 0px 7px 7px -9px rgba(0,0,0,1); -moz-box-shadow: 0px 7px 7px -9px rgba(0,0,0,1); box-shadow: 0px 7px 7px -9px rgba(0,0,0,1);}
nav ul {display: flex; flex-direction: row; flex-wrap: nowrap; align-items: center; justify-content: space-between;}
nav ul li {position: relative; width: 25%; text-align: center; padding: 0 1px; box-sizing: border-box;}
nav ul li::after{content: ""; position: absolute; right: -1px; top: 0; height: 100%; width: 2px; background-color: #fff;}
nav ul li:last-child:after {display: none;}
nav a { color: #fff;}

.categories__item {padding: 40px 0; position: relative; box-sizing: border-box;}
.categories__item+.categories__item:after {content:""; position: absolute; left:0; top: 0; height: 100%; background-color: #c8c8c8; width: 1px;}
.categories__description h3{font-family: 'Anton', sans-serif; font-weight: normal; letter-spacing: 1px; font-size: 21px; line-height: 24px;}
.categories__description input[type="text"] {display:none;}
.categories__description input {font-family: 'Anton', sans-serif; font-weight: normal; letter-spacing: 1px; margin-top: 20px; cursor: pointer;}
.categories__image_block {max-width: 240px; width: 98%; height: 170px; overflow: hidden; margin-right: 20px;}
.categories__image_block img {position: relative; top: -85px; left: 10px; width: 100%;}

.featured-products__row{padding: 20px 0; justify-content: flex-start; flex-wrap: wrap; box-sizing: border-box;}
.featured-products__header-name {color: #fff; padding: 10px; background-color: #3cc3b5; font-family: 'Anton', sans-serif; letter-spacing: 1px;}
.featured-products__catalog {height: 100%;}
.featured-products__item {text-align: center; padding: 0 10px; margin-bottom: 20px; width: 25%; box-sizing: border-box;}
.featured-products__image {max-width: 240px; width: 98%; height: 170px; overflow: hidden; margin: 0 auto;}
.featured-products__description {margin-top: 15px;}
.featured-products__image img{position: relative; width: 150px; height: 100%;}
.featured-products__price {font-weight: 500; letter-spacing: 1px; font-size: 21px;line-height: 24px;}
.featured-products__info {margin: 10px auto 0; width: 90%; max-width: 210px;}

.footer {background-color: #3cc3b5; color: #fff; padding: 30px 0;}
.footer__row {display: flex; flex-direction: row; align-items: flex-start; justify-content: space-between; flex-wrap: nowrap;}
.footer__row ul{margin-top: 20px;}
.footer__row ul a{color: #fff; text-transform: none;}
.footer__row ul li+li {margin-top: 10px;}
.footer__item:nth-child(2) {text-align: center;}
.footer__item:nth-child(3) {text-align: right;}
.copyright {background-color: #2ea89b; padding: 10px 0; text-align: center; color: #fff;}

/* =============== FORM STYLES =================== */
.form form{max-width: 768px; width: 98%; margin: 0 auto; padding: 20px 0; height: 100%; box-sizing: border-box; display: grid; grid-template-rows: repeat(1fr);}
.form form .row {clear: both; display: flex; align-items: center;}
.form form .row+.row {margin-top: 10px;}
.form form .row .left-side{float: left; width: 200px;}
.form form .row .input-block{position: relative; overflow: hidden; width: 100%;}
.form form .row input {width: 100%; box-sizing: border-box; cursor: pointer;}

/*=== basket ====*/
.form_basket form .row {justify-content: space-between; border: 1px solid #c8c8c8;}
.form_basket .button_container {display: flex; align-items: center; justify-content: space-between; border: 1px solid #c8c8c8; border: none; margin-top: 20px;}
.form_basket form .row > div{position: relative; width:33.33333%; padding: 0 20px; height: 100%; box-sizing:border-box; display: flex; align-items: center;}
.form_basket form .row > div+div:after {content:""; position: absolute; left: 0; top: 0; bottom:0; width: 1px; background-color:#c8c8c8;}
.form_basket form .row .left-side {float: none !important; }

.form_basket form .count_block {justify-content: center; width: auto;}
.form_basket form .count_block * {cursor:pointer;}
.form_basket form .count_block input{width: 20px; text-align: center; margin: 0 10px;}
.form_basket form .row{padding: 10px 0; position: relative;}
.form_basket form .row .delete_item {display: block; position: absolute; right: -10px; top: 0; height: 100%; border: none; width: 0; height: 0; visibility: hidden;}
.form_basket form .row .delete_item::after {content:"x"; position: absolute; left:0; top: 0; visibility: visible; color: red; font-weight: bold; cursor: pointer;}
.form_basket form  .left-side {display: flex; align-items: center; justify-content: flex-start;}
.form_basket form  .row__image_block {width: 50px; height: 50px; margin-right: 20px;}
.form_basket form  .row__image_block img{width: 100%; height: 100%;}
